<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Car Price Predictor</title>
    <link rel="icon" type="image/x-icon" href="static\logos.ico">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="card mt-50" style="width: 100%; height: 100%">
                <div class="card-header" style="text-align: center">
                    <h1><i>Welcome To Ad Click Prediction</i></h1>
                </div>
                <div class="card-body">
                    <div class="col-12" style="text-align: center">
                        <h5>Try filling the details below: </h5>
                    </div>
                    <br>
    <h1>Click Through Rate Prediction For Advertisement</h1>
    <form method="post" accept-charset="utf-8" name="Modelform">
        <label for="DailyTimeSpentOnSite">Daily Time Spent on Site:</label>
        <select name="DailyTimeSpentOnSite" id="DailyTimeSpentOnSite">
            {% for time in DailyTimeSpentonSite %}
                <option value="{{ time }}">{{ time }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="AreaIncome">Area Income:</label>
        <select name="AreaIncome" id="AreaIncome">
            {% for income in AreaIncomes %}
                <option value="{{ income }}">{{ income }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="age">Age:</label>
        <select name="age" id="age">
            {% for a in age %}
                <option value="{{ a }}">{{ a }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="DailyInternetUsage">Daily Internet Usage:</label>
        <select name="DailyInternetUsage" id="DailyInternetUsage">
            {% for usage in DailyInternetUsage %}
                <option value="{{ usage }}">{{ usage }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="Male">Male:</label>
        <select name="Male" id="Male">
            {% for m in male %}
                <option value="{{ m }}">{{ m }}</option>
            {% endfor %}
        </select>
        <br><br>
        <div class="col-md-10 form-group" style="text-align: center">
            <button  class="btn btn-primary form-control" onclick="send_data()">Predict</button>
        </div>
    </form>
    <div class="row">
        <div class="col-12" style="text-align: center">
            <h4><span id="prediction"></span></h4>
        </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
<script>
     function form_handler(event) {
            event.preventDefault();
            
        }
function send_data() {
    document.querySelector('form').addEventListener("submit",form_handler);
var fd=new FormData(document.querySelector('form'));
var xhr= new XMLHttpRequest({mozSystem: true});
xhr.open('POST','/predict',true);
document.getElementById('prediction').innerHTML="Predicting Price";
xhr.onreadystatechange = function(){
if(xhr.readyState == XMLHttpRequest.DONE){
document.getElementById('prediction').innerHTML="Prediction: ₹"+xhr.responseText;
}
};
xhr.onload = function() {};
xhr.send(fd);
}
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
crossorigin="anonymous"></script>
</body>
</html>