{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-dark{
	background-color: #75767B;
background: rgb(151,154,22);
background: linear-gradient(90deg, rgba(151,154,22,0.927608543417367) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.mt-50{
	margin-top: 50px;
}
#canvas{
    border: 2px solid black;
}
 ul.navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
 ul.navbar li {
            float: left;
        }
        
 ul.navbar li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
ul.navbar li a:hover {
            background-color: #111;
        }